@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=Gentium+Book+Plus&family=Inconsolata:wght@600&display=swap');

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #d7d7d7;
    overflow: hidden;
}

.main-container .container-section{
    height: 100%;
    width: 100%;
    user-select: none;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("../img/background.png");
    background-position: center center;
    background-size: cover;
    .navigation{
        width: 100%;
        height: 10vh;
        padding: 0px 30px;
        color: white;
        .left-nav{
            height: 100%;
            line-height: 100%;
            float: left;
            a{
                text-decoration: none;
                color: black;
                &:hover svg{
                    transform: scale(1.1);
                }
            }
            svg{
                transition: .2s;
                height: 100%;
                vertical-align: middle;
            }
        }
        .right-nav{
            height: 100%;
            line-height: 100%;
            float: right;
            a{
                text-decoration: none;
                color: black;
                &:hover svg{
                    transform: scale(1.1);
                }
            }
            svg{
                transition: .2s;
                height: 100%;
                vertical-align: middle;
            }
        }
    }
    .content{
        width: 100%;
        flex: 1;
        .content-container{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .main-content{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 250px;
                    width: auto;
                }
            }
        }
    }
    .footer{
        width: 100%;
        height: 10vh;
        padding: 0px 30px;
        // background-color: white;
        color: white;
        .left-footer{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; 
            float: left;
            a{
                text-decoration: none;
                color: black;
                margin: 0px 10px;
                &:hover img{
                    transform: scale(1.1);
                }
                img{
                    height: auto;
                    transition: .2s;
                }
            }
        }
        .right-footer{
            height: 100%;
            line-height: 100%;
            float: right;
            .connect-btn-div{
                height: 100%;
                display: flex;
                align-items: center;
                .connect-btn{
                    cursor: pointer;
                    padding: 10px 20px;
                    border: 6px solid black;
                    border-radius: 20px 20px 20px 20px;
                    background-color: rgba(229, 231, 233, .5);
                    letter-spacing: 2px;
                    font-size: 28px;
                    text-transform: uppercase;
                    transition: .2s;
                    transform-origin: bottom right;
                    font-family: 'DynaPuff', cursive;
                    text-decoration: none;
                    color: black;
                    vertical-align: bottom; 
                    svg{
                        height: 100%;
                        vertical-align: middle;
                    }
                    .text-connect{
                        height: 100%;
                        vertical-align: middle;
                    }
                    &:hover{
                        transform: scale(1.02);
                        
                    }
                }
            }
        }
    }
}





// media queries
@media only screen and (max-width: 400px) {
    .main .content .content-container .main-content img {
        height: 60px;
        width: auto;
    }
    .main .footer .right-footer .connect-btn-div .connect-btn .text-connect {
        display: none;
    }
}


@media only screen and (min-width: 400px) and (max-width: 600px) {
    .main .content .content-container .main-content img {
        height: 75px;
        width: auto;
    }
    .main .footer .right-footer .connect-btn-div .connect-btn .text-connect {
        display: none;
    }
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
    .main .content .content-container .main-content img {
        height: 100px;
        width: auto;
    }
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .main .content .content-container .main-content img {
        height: 150px;
        width: auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main .content .content-container .main-content img {
        height: 200px;
        width: auto;
    }
}